<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recent WebSocket Disconnections</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1> Last 20 Drives </h1>
    <table>
        <thead>
            <tr>
                <th>User Name</th>
                <th>Vehicle Type</th>
                <th>Vehicle ID</th>
                <th>Duration (Seconds)</th>
                <th>Start Time</th>
            </tr>
        </thead>
        <tbody>
            {% for run in runs %}
                <tr>
                    <td>{{ run[0] }}</td>
                    <td>{{ run[1] }}</td>
                    <td>{{ run[2] }}</td>
                    <td>{{ run[3] }}</td>
                    <td>{{ run[4] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
