#remote_video {
    width: 640px;
    height: 480px;
    position: relative
}

#log-area {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #000;
    color: #fff;
    font-family: monospace;
    overflow-y: auto; /* Enable vertical scrollbar */
    max-height: 10em; /* Set maximum height to display 10 lines at a time */
}

