<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RC_Car1!</title>
    <style>
      .remote_video {
        width: 240px;
        height: 180px;
        position: relative
      }
    </style>
</head>
<body>
    <div id="videos">
        <video class='video-player' id="local_video" autoplay playsinline></video>
        <video class='video-player' id="remote_video" autoplay playsinline></video>
    </div>
    <div id="webrtc-message">Welcome to the Plntry Car!</div>
    <div id="server-message"></div>
    <div id="latency-indicator"></div>
    <div id="test-div"></div>


</body>

<script type="module" src="../static/vehicle_page.js"></script>
<script type="module" src="../static/car_controls.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>

  <script>
    // Makes the browser stateful! Let's you know if you're the 'DRIVER' or 'CAR'
    let global_browser_ID = "UNKNOWN"; 
    // Lets you easily run the flask socket server locally. Don't need to do anything else but switch this to 'True'
    let global_controlsSocket_run_local = "FALSE"
    // 
  
  </script>
</html>