<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="mystyle.css">
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RC_Car1!</title>
    <style>
      #log-area {
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #000;
        color: #fff;
        font-family: monospace;
        overflow-y: auto; /* Enable vertical scrollbar */
        max-height: 10em; /* Set maximum height to display 10 lines at a time */
}
    </style>
</head>
<body>
  <button id="rebootButton">Remote Reboot</button>
  <div id="videos">
        <video class='video-player' id="local_video" autoplay playsinline></video>
        <video class='video-player' id="remote_video" autoplay playsinline></video>
    </div>
    <div id="latency-indicator">No incoming heartbeat from car websocket</div>
    <div id="webrtc-message" >Welcome to the Plntry Car!</div>
    <div id="server-message"></div>
    <div id="webrtc-logging-message">:</div>
    <div id="log-area"></div>

</body>

<script type="module" src="../static/webrtc_video.js"></script>
<script type="module" src="../static/car_controls.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>

  <script>
    // Makes the browser stateful! Let's you know if you're the 'DRIVER' or 'CAR'  
    let global_browser_ID = "UNKNOWN"; 
    // Lets you easily run the flask socket server locally. Don't need to do anything else but switch this to 'True'
    let global_controlsSocket_run_local = "FALSE"

    // Reference to the log area
    const logArea = document.getElementById('log-area');

    // Function to append a log message to the log area
    function appendLogMessage(message) {
        const logMessage = document.createElement('div');
        logMessage.textContent = message;
        logArea.appendChild(logMessage);

        // Scroll to the bottom to show the newest log
        logArea.scrollTop = logArea.scrollHeight;
    }
  
  </script>
</html>